
/figures
/UMAPS
/datafiles
/wandb
*.gif
*.gif
/figures
/figures
*.pyc
*.ini
*.bak
*.png
*.gif
*.hdf5
*.bin
*.zip
*.png
*.ini
*.bak
*.gif
*.pyc
/__pycache__
/.spyproject
__pycache__/image_to_image.cpython-312.pyc
__pycache__/train_network.cpython-312.pyc
__pycache__/helpers.cpython-312.pyc
.spyproject/config/workspace.ini
.spyproject/config/backups/workspace.ini.bak
*.csv
*.gif
